@model Patient

<h2>Create</h2>
<h4>Patient</h4>
<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>PatientName</label>
        <input asp-for="PatientName" class="form-control" />
        <span asp-validation-for="PatientName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>Age (Date of Birth)</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>ContactNo</label>
        <input asp-for="ContactNo" class="form-control" />
        <span asp-validation-for="ContactNo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<br />
<a asp-action="Index">Back to List</a>