@model Appointment

<h2>Create</h2>
<h4>Appointment</h4>
<hr />

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>PatientId</label>
        <input asp-for="PatientId" class="form-control" />
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>AppointmentDate</label>
        <input asp-for="AppointmentDate" class="form-control" type="datetime-local" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<br />
<a asp-action="Index">Back to List</a>